*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    height: 1024px;
    display: flex;
    width: 100%;
    justify-content: center;    
}

.open_close{
    background-color: #FFFFFF;
    width: 6%;
    height: 80vh;
    border-radius: 50px;
    transition: .3s;
}
.open{
    width: 28px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAF4FF;
    rotate: 180deg;
    transition: .3s;
    position: absolute;
    left: 86px;
}



.logo{
    width: 100px;
    transition: .3s;
}
.activate{
    width: 20%;
    height: 100%;
    transition: .3s;
    .open{
        rotate: 0deg;
        transition: .3s;
        left: 223px;
    }
    .main p{
        display: block;
        transition: .3s;
    }
}
.header{
    transition: .3s;
}

.container{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 95%;
    height: 100%;
}
header h1{
    padding-left: 40px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 20px;
}
ul{
    width: 25%;
    justify-content: space-between;
    display: flex;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 15px;
    color: #000;
}
.active{
    padding: 10px 15px;
} 
.first_line{
    display: flex;
    justify-content: space-around;
}
.continent{
    width: 45%;
    height: 250px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    padding: 20px 0px 20px 20px;
    overflow: hidden;
}
.second_line{
    display: flex;
    justify-content: space-around;
}

.box{
    width: 20%;
    height: 250px;
    background-color: #FFFFFF;
    border-radius: 20px;
}
.third_line{
    display: flex;
    justify-content: space-around;
}
.bg-side{
    position: relative;
    bottom: -10px;
}
.hide{
    position: relative;
    bottom: -50px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    overflow: hidden;
}
.box p{
    max-width: 80%;
    text-align: center;
}
.text-side{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.logo{
    width: 50px;
}
.main{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 0px 15px;
    transition: .3s;
    overflow: hidden;
}
.main p{
    width: 100px;
    font-size: 15px;
    transition: .3s;
    display: none;
}
.sections{
    display: flex;
    align-items: center;
    padding: 5px 7px;
    gap: 25px;
}
.active{
    background-color: #EAF4FF;
    color: #2774CD;
    border-radius: 10px;
}
@media screen and (max-width: 1360px) {
    body{
        height: 280vh;
    }
    .container header{
        font-size: 9px;
    }
    .containers{
        grid-template-columns: 1fr 1fr;
    }
    .second_line{
        flex-wrap: wrap;
        gap: 40px;
    }
    .box{
        width: 80%;
    }
    .open_close{
        width: 0%;
    }
    .activate{
        width: 30%;
        transition: .3s;
    }
    .container{
        width: 100%;
    }
    .first_line{
        height: 130vh;
        flex-wrap: wrap;
        gap: 10px;
    }
    .third_line{
        height: 150vh;
        flex-wrap: wrap;
        gap: 10px;
    }
    .bg-side img{
        width: 150px;
    }
    .continent{
        width: 80%;
        flex-direction: column;
    }
    li{
        margin-top: 120px;
        margin-left: -70px;
        font-size: 5px;
    }
    .header h1{
        font-size: 10px;
    }
}
@media screen and (max-width: 730px) {
    .containers{
        grid-template-columns: 1fr;
    }
    body{
        height: 300vh;
    }
    ul{
        width: 45%;
    }
}